<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
      <%include ../../partials/head.ejs%>
  </head>
  <body>

    <div class="container">
      <h1>SnackMap</h1>
      <h3>Where are the snacks you want?</h3>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"><a href="/users/new">Register</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="/sessions/new">Log In</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="/treats">Back to Snacks</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="/treats/<%=treats.id%>">Back to Other Locations</a></li>
      </ol>
    </nav>


    <h1>You can get <%=treats.name%> here!</h1>

    <p><%=locations.name%></p>
    <div class="row">
      <div class="col">
        <img src="<%=locations.image%>" alt="">
      </div>
      <div class="col">
        <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" id ="map" src="" width="640" height="480"></iframe>
        </div>
      </div>
    </div>

    <p><%=locations.description%></p>

<% if(currentUser) { %>
  <h1>Tried it? What did you think?</h1>
  <form action="/treats/<%=treats.id%>/locations/<%=locations.id%>" method="POST">
    <textarea name="message" placeholder="TYPE YOUR MESSAGE HERE..."></textarea>
        <input id="messagepost" type="submit" value="POST">
      </form>
         <%} else {%>
           <p><a href="/users/new">Register to let everyone know what you think!</a> </p>
         <% } %>

         <!-- logout -->
         <% if(currentUser) { %>
              <form action="/sessions?_method=DELETE" method="POST">
                <input id = "logout" type="submit" name="" value="Logout">
              </form>
            <% } %>

</div>
  <% include ../../partials/footer.ejs %>
  </body>
  <script>
  let map = <%- JSON.stringify(locations.map)%>
  let id = document.getElementById("map")
  id.src = map
  </script>
</html>
