<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>App Name TBD</h1>
    <h3>App Description</h3>
    <!-- Link to users/new -->
    <a href="/users/new">Register</a>
    <!-- Link to sessions/new -->
    <a href="/sessions/new">Log In</a>
    <!-- main page -->
    <a href="/treats">Back to Treats</a>
    <!-- logout -->
    <% if(currentUser) { %>
         <form action="sessions?_method=DELETE" method="POST">
           <input type="submit" name="" value="Logout">
         </form>
       <% } %>
  </nav>


    <h1><%=treats.name%></h1>
    <img src="<%=treats.image; %>"><br>
    Description: <%=treats.description%>


    <ul>
       <% for (let i=0; i< treats.places.length; i++){ %>
         <li>
           <a href="<%=treats.places[i]%>"><%=treats.places[i]%></a>
       <% } %>
     </ul>
     <ul>

<%for (let i=0; i< treats.locations.length; i++){%>
<li><a href="/place/show/<%=treats.locations[i].id;%>">View more about <%=treats.locations[i].name%></a></li>
  <%}%>



     <a href="/treats/<%=treats.id%>/edit">Edit this treat</a>

     <form action ="/treats/<%=treats.id; %>?_method=DELETE" method="POST">
      <input type="submit" value="Delete this Treat">
    </form>
    <a href="/treats/new">Add a new Treat</a>



  </body>
</html>
